<!DOCTYPE html>
<html ng-app="freelanceApp">
<head>
  <title>Freelance App</title>
  <link rel="stylesheet" href="libs/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="assets/css/style.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"/>
</head>
<body ng-controller="homeCtrl">
  <div>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <md-icon md-svg-icon="assets/img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Freelance Application</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="assets/img/icons/favorite.svg" style="color: deep-purple;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="assets/img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-sidenav  class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
          <h1 class="md-toolbar-tools">MENU</h1>
          <md-button class="md-icon-button" aria-label="Settings" ng-click="close()">
            <md-icon md-svg-icon="assets/img/icons/ca.svg"
                 alt="Insert Drive Icon">
            </md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-sidenav-focus>
          </md-input-container>
        </form>
      </md-content>
    </md-sidenav>
    <md-content  layout='row' layout-align='center center'>
      <md-card flex="95">
        <div layout="row" layout-sm="column" class="landing_image" layout-margin>
          <div flex-gt-md='70' flex layout-margin layout-padding>
            <h1 class='md-display-3' layout-align="center center">
              <center>...Great teams are built with great teamwork</center>
            </h1>
            <h3 class="md-headline descript">
              <center>Freelance Job Management App brings you the <em>RIGHT</em> developers with the <em>RIGHT</em> skills and attitude to your doorsteps</center>
            </h3>
          </div>
          <div flex>
            <md-toolbar class="md-hue-2">
              <h2 class="md-toolbar-tools">
                <span>Latest Jobs</span>
              </h2>
            </md-toolbar>

          </div>
        </div>
      </md-card>
    </md-content>
  </div>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="libs/angular-animate/angular-animate.min.js"></script>
  <script src="libs/angular-aria/angular-aria.min.js"></script>
  <script src="libs/angular-material/angular-material.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/colorConfig.js"></script>
  <script src="app/services/sidenav.service.js"></script>
  <script src="app/filters/filters.js"></script>
  <script src="app/directives/directives.js"></script>
  <script src="app/controllers/home.controller.js"></script>
</body>
</html>
