<md-toolbar class="md-hue-2 mainBar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-href="#/home" aria-label="More">
      <md-icon md-svg-icon="assets/img/icons/users.svg"></md-icon>
    </md-button>
    <h2 hide-sm>
      <a ng-href="#/home">Freelance</a>
    </h2>
    <span hide-gt-sm show-sm flex>
      <a ng-href="#/home">Freelance</a>
    </span>
    <span flex></span>
    <h2 flex hide-sm ng-show="isLogged">
      Welcome {{username}}!
    </h2>
    <a hide-sm ng-href="#/jobs"
               title="jobs"
               aria-label="jobs"
               class="md-primary md-raised md-hue-1">
      Jobs
    </a>
    &nbsp;
    &nbsp;
    <a hide-sm ng-href="#/profile"
             title="profile"
             ng-show="(isLogged && !admin)"
             aria-label="profile"
             class="md-primary md-raised md-hue-1">
      Profile
    </a>
    <a hide-sm ng-href="#/admin-profile"
             title="profile"
              ng-show="(isLogged && admin)"
              aria-label="profile"
             class="md-primary md-raised md-hue-1">
     Admin Profile
    </a>
    &nbsp;
    &nbsp;
    <a hide-sm
             title="login"
             ng-show="isLogged"
             ng-click="logout()"
             aria-label="login"
             class="md-primary md-raised md-hue-1">
      Log Out
    </a>
    <a hide-sm ng-href="#/signin"
             title="login"
             ng-hide="isLogged"
             aria-label="login"
             style="border: 1px solid; padding: 3px 7px; border-radius: 3px;"
             class="md-primary md-raised md-hue-1">
      Sign In
    </a>
    &nbsp;
    &nbsp;
     <a hide-gt-md class="md-icon-button" aria-label="Settings" ng-click="toggle()">
      <md-icon md-svg-icon="assets/img/icons/menu.svg"></md-icon>
    </a>
  </div>
</md-toolbar>
<md-sidenav  class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Close" ng-click="close()">
        <md-icon md-svg-icon="assets/img/icons/ca.svg"
             alt="Insert Drive Icon">
        </md-icon>
      </md-button>
      <span flex></span>
      <h1 class="md-toolbar-tools">MENU</h1>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-padding>
    <md-button ng-href="#/jobs"
               ng-click="close()"
               title="jobs"
               aria-label="jobs"
               class="md-primary md-hue-1">
      JOBS
    </md-button>
    <md-button ng-href="#/signin"
              ng-click="close()"
              ng-hide="isLogged"
              title="login"
              aria-label="login"
              class="md-primary md-hue-1">
      SIGN IN
    </md-button>
    <md-button ng-href="#/signup"
             ng-click="close()"
             ng-hide="isLogged"
             title="signup"
             aria-label="signup"
             class="md-primary md-hue-1">
      SIGN UP
    </md-button>
     <md-button
             ng-href="#/profile"
             ng-click="close()"
             ng-show="isLogged && !admin"
             title="profile"
             aria-label="profile"
             class="md-primary  md-hue-1">
     PROFILE
    </md-button>
    <md-button
             ng-href="#/profile"
             ng-click="close()"
             ng-show="(isLogged && admin)"
             title="profile"
             aria-label="profile"
             class="md-primary  md-hue-1">
     ADMIN PROFILE
    </md-button>
    <md-button
             ng-click="logout(); close()"
             ng-show="isLogged"
             title="logut"
             aria-label="logout"
             class="md-primary  md-hue-1">
      LOG OUT
    </md-button>
  </md-content>
</md-sidenav>
