<md-content class="md-accent container first">
  <div layout="row" class="landing_image">
    <div flex class='headline'>
      <h1 class='md-display-1' layout-align="center center">
        <center>Great teams are built with great teamwork</center>
      </h1>
      <h3 class="md-subhead descript" hide-sm>
        <center>Freelance Job Management System brings the <em>right</em> developers with the <em>right</em> skillset and attitude to your doorsteps</center>
      </h3>
    </div>
  </div>
  <div layout layout-align="center center" class="latest">
    <md-card  layout-margin flex="90" flex-gt-sm="50" style="margin: 2em;">
      <md-subheader class="customsub">
          <center>
            <span>Recent Jobs</span>
          </center>
      </md-subheader>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="job in recentJobs | filter:query | orderBy: '-created' | limitTo: 3" >
          <div class="md-list-item-text"
                layout="column" layout-align="center center"
                layout-align-gt-md='end center'
                style=" background: rgba(0, 0, 0, 0.01);">
            <a ng-href="#/jobs/{{job.slug}}">
              <h3 style="color: rgba(0, 0, 0, .87); font-weight: 600;">{{job.title | sentenceCase}}</h3>
            </a>
            <h4  style="color: rgb(99, 99, 99);">{{ job.tools | lowercase}}</h4>
            <h4  style="color: rgb(55, 55, 57);">Posted:&nbsp;{{ job.created | date: medium}}</h4>
          </div>
         <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
  <div layout>
    <md-content layout-padding style="height: 100%; padding: 24px;">
      <h1 hide-sm layout layout-align="center center" layout-align="center center" class="md-headline">How Freelance App works</h1>
      <strong hide-gt-sm style="font-size: 1.1em; text-align: center;"><span layout layout-align="center center">How Freelance App works</span></strong>
      <p  layout layout-align="center center" class="descriptionHome">
       Post any project you need done and receive bids from our talented freelancers within minutes. Compare their proposals and price, then select the best freelancer to complete your project. Easy!
      </p>
    </md-content>
  </div>
</md-content>
