<md-content layout layout-align="center center" layout-margin class="first">
  <md-card flex-gt-md="60" flex>
      <md-subheader class="customsub" layout-padding layout layout-align='center center'>
        <center>
          <strong>{{single_job.title | sentenceCase}}</strong>
        </center>
      </md-subheader>
      {{single_job}}
      <div layout-margin layout-padding class="md-list-item-text" style="padding: 10px; line-height: 2;">
          <div ng-show="single_job.skills">
            <strong layout layout-align='center center'>Required Skiils</strong>{{single_job.skills}}
          </div>
          <md-divider></md-divider>
          <div ng-show="single_job.tools">
            <strong>Tools</strong><br>{{single_job.tools}}
          </div>
          <md-divider></md-divider>
          <div style="
            padding: 8px;
            background: rgba(0, 0, 0, 0.04) !important;
            "
            ng-show="single_job.description"
            >
            <strong>Description:</strong>
            <div class="md-primary description" flex offset="5">
              {{single_job.description}}
            </div>
          </div>
          <div layout-align='center center' ng-show="single_job.created">
            <p flex><strong >Posted:</strong>&nbsp;{{single_job.created | date: medium}}</p>
          </div>
          <div layout-align='center center' ng-show="single_job.created">
            <p flex><strong >Author:</strong>&nbsp;{{single_job.author.name | sentenceCase}}</p>
          </div>
          <div layout layout-align='center center'>
            <md-button  flex="40" ng-click='applyForJob(single_job.slug);' class="md-raised md-primary md-hue-2">Apply</md-button>
          </div>
        </div>
      <md-progress-linear md-mode="indeterminate" ng-hide="hideProg" class="md-primary">
      </md-progress-linear>
      <div class="comments">Comments</div>
        <form>
          <div style="padding: 3px;">
            <md-input-container >
            <label>Title</label>
              <input ng-model="comment.title">
            </md-input-container>
          </div>
          <div style="padding: 3px;">
            <md-input-container style="padding-bottom: 0;">
            <label>Content</label>
              <textarea ng-model="comment.content"></textarea>
            </md-input-container>
          </div>
          <div layout layout-align='start center'>
            <md-button type='submit' flex="30" ng-click="postComment(single_job._id, comment)" class="md-raised md-accent md-hue-3 submitcomments">Submit</md-button>
          </div>
        </form>
   </md-card>
</md-content>
