<md-content layout layout-align="center center" layout-margin >
  <md-card flex-gt-md="60" flex>
      <md-toolbar layout-padding layout layout-align='center center'>
        <strong>
            {{single_job.title | sentenceCase}}
        </strong>
      </md-toolbar>
      <div layout-margin layout-padding class="md-list-item-text" style="padding: 10px; line-height: 2;">
          <div>
            <strong layout layout-align='center center'>Required Skiils</strong>{{single_job.skills}}
          </div>
          <md-divider></md-divider>
          <div>
            <strong>Tools</strong><br>{{single_job.tools}}
          </div>
          <md-divider></md-divider>
          <div style="
            padding: 3px;
            background: rgba(0, 0, 0, 0.04) !important;
            ">
            <div>
              <strong>Description:</strong>
              <div class="md-primary" flex offset="5">
                {{single_job.description}}
              </div>
            </div>
          </div>
          <div  layout-align='center center'>
            <p flex><strong >Posted:</strong>&nbsp;June 14, 2015</p>
          </div>
          <div layout layout-align='center center'>
            <md-button  flex="40" ng-href="#" class="md-raised md-primary md-hue-2">Apply</md-button>
          </div>
        </div>
      <div class="comments">Comments</div>
      <md-content layout-padding>
        <strong>Title</strong>
        <md-input-container layout-padding layout="row" layout-sm="column">
          <input ng-model="user.title">
        </md-input-container>
        <div style="padding: 3px;">
          <div>
            <strong>Content</strong>
            <md-input-container>
              <textarea ng-model="user.email"></textarea>
            </md-input-container>
          </div>
        </div>
        <div layout layout-align='start center'>
            <md-button flex="30" class="md-raised md-accent md-hue-3 submitcomments">Submit</md-button>
        </div>
      </md-content>
   </md-card>
</md-content>
