<md-content layout layout-align="center center" layout-margin class="first">
  <md-card flex-gt-md="40" flex>
    <md-subheader layout-padding layout-align="center center" class="customsub">
      <center><span class="md-title">Register Here</span></center>
    </md-subheader>
    <md-toolbar class="md-warn" layout-padding ng-hide="hidemsg">
    <center>
      <h3 class="md-title">{{msg}}</h3>
    </center>
  </md-toolbar>
    <md-card-content>
      <form name="signupForm">
        <md-input-container class="md-icon-float">
          <label>Name</label>
          <md-icon md-svg-src="assets/img/icons/ic_person_24px.svg" class="name"></md-icon>
          <input name='name' ng-model="name" type="text"  ng-required="true">
          <div ng-messages="signupForm.name.$error">
            <div ng-message="required">*</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float>
          <md-icon md-svg-src="assets/img/icons/ic_email_24px.svg" class="email"></md-icon>
          <input name="emailName" ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
          <div ng-messages="signupForm.emailName.$error">
            <div ng-message="required">*</div>
            <div ng-message="email">Type in a valid email address</div>
          </div>
        </md-input-container>
        <md-input-container >
          <md-icon md-svg-src="assets/img/icons/ic_vpn_key_24px.svg" class="email"></md-icon>
          <input name='password' ng-model="password" type="password" placeholder="Password" ng-required="true">
          <div ng-messages="signupForm.password.$error">
            <div ng-message="required">*</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float>
          <md-icon md-svg-src="assets/img/icons/ic_phone_24px.svg"></md-icon>
          <input name="phone" ng-model="phone" type="number" placeholder="Phone Number" ng-minlength="11" ng-maxlength="13">
          <div ng-messages="signupForm.phone.$error">
            <div ng-message="minlength">Enter a minimun of 11 figures</div>
            <div ng-message="maxlength">Can not be more than 13</div>
            <div ng-message="number">Only figures are accepted</div>
          </div>
        </md-input-container>
        <div class="md-actions" layout="row" layout-align="center center">
          <md-button ng-disabled="signupForm.$invalid" flex ng-click="signUp()" class="md-raised md-primary md-hue-2">Register</md-button>
        </div>
      </form>
      <md-progress-linear md-mode="indeterminate" ng-hide="hideProg" class="md-primary">
      </md-progress-linear>
    </md-card-content>
        <div flex layout layout-align="center center">
      <span>OR</span>
    </div>
    <md-card-content layout-align="center center">
      <div flex layout layout-align="center center">
        <md-button flex ng-href="https://freelance-app.herokuapp.com/api/v1/auth/linkedin" class="md-raised md-primary">
          Login in with linkedin
        </md-button>
      </div>
      <div flex layout layout-align="center center">
        <md-button flex ng-href="https://freelance-app.herokuapp.com/api/v1/auth/google" class="md-raised md-warn"> 
          Login in with google
          <!-- <md-icon md-svg-src="assets/img/icons/google-glass.svg" class="google"></md-icon>oogle -->
        </md-button>
      </div>
      </div>
    </md-card-content>
  </md-card>
</md-content>
