<md-content layout layout-align="center center" layout-margin class="first">
  <md-card flex-gt-md="40" flex>
    <md-subheader layout-padding class="md-primary md-hue-2 customsub">
      <center>
        <h1 class="md-title">Enter your Login credentials Here</h1>
      </center>
    </md-subheader>
    <md-toolbar class="md-warn" layout-padding ng-hide="hidemsg">
      <center>
        <h3 class="md-title">{{msg}}</h3>
      </center>
    </md-toolbar>
    <md-card-content>
      <form name="loginForm">
        <md-input-container >
          <md-icon md-svg-src="assets/img/icons/ic_email_24px.svg" class="email"></md-icon>
          <input name="emailName" ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
          <div ng-messages="loginForm.emailName.$error">
            <!-- <div ng-message="required">This field is required</div> -->
            <div ng-message="email">Type in a valid email address</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float>
          <md-icon md-svg-src="assets/img/icons/padlock.svg" style="display:inline-block;"></md-icon>
          <input name="passName" ng-model="password" type="password" placeholder="Password (required)" ng-required="true">
          <div ng-messages="loginForm.passName.$error">
            <!-- <div ng-message="required">This field is required</div> -->
          </div>
        </md-input-container>
        <div class="md-actions" layout="row" layout-align="center center">
          <md-button id="loginBtn" ng-disabled="loginForm.$invalid" flex ng-click="logIn()" class="md-raised md-primary md-hue-2">Login</md-button>
        </div>
      </form>
      <md-progress-linear md-mode="indeterminate" ng-hide="hideProg" class="md-primary">
      </md-progress-linear>

    </md-card-content>
    <md-card-content layout-align="center center">
      <span layout layout-margin layout-align="center center">or login with</span>
      <div flex layout layout-align="center center">
        <md-button  flex ng-href="https://freelance-app.herokuapp.com/api/v1/auth/linkedin">
          <img layout-align="center center"width="45%" height="12%" ng-src="assets/img/Logo-2C-101px-TM.png">
        </md-button>
        <md-button  flex ng-href="https://freelance-app.herokuapp.com/api/v1/auth/google">
          <img  layout-align="center center" width="40%" height="10%" ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_Google_2013_Official.svg/1280px-Logo_Google_2013_Official.svg.png">
          <!-- <md-icon md-svg-src="assets/img/icons/google-glass.svg" class="google"></md-icon>oogle -->
        </md-button>
      </div>
    </md-card-content>
  </md-card>
</md-content>
