* {
  font-family: 'Roboto', sans-serif !important;
}

.landing_image {
  background: url('../img/job-shake2.png');
  background-size: fit;
  color: #fff;
  margin-top: .3em;
}

.descript {
  color: rgba(255, 255, 255, 0.62);
  margin-top: 2em !important;
}

a {
  text-decoration: none !important;
}

.mlabel {
  color: rgba(158, 158, 158, 1);
}

.footer {
  position: fixed;
  background-color:  black;
  height: 3em;
  bottom: 0;
  width: 100%;
  color: white;
  line-height: 3em;
}

.footer a {
  color: rgba(255, 255, 255, 0.62);
  text-decoration: none;
}

.linkedin {
  background-color: #017BB6 !important;
  color: white !important;
  font-weight: bolder;
  line-height: 2em;
}

.facebook {
  background-color: #3B579D !important;
  color: white !important;
  font-weight: bolder;
  line-height: 2em;
}

.google {
  background-color: #3777E3 !important;
  color: white !important;
  font-weight: bolder;
  line-height: 2em;
}

.subheader {
  background-color: black;
  color: white;
  margin: 0em;
}

.comments {
  padding: 1em;
  background: black;
  color: white;
  font-size: 1.2em;
  font-weight: bolder;
  padding-left: 2em;
}

.submitcomments {
  background-color: black !important;
  color: white !important;
  font-weight: bolder !important;
}

.description {
  text-align: justify !important;
}


@media (min-width: 960px) {
  .md-avatar {
    border-radius: 90%;
    border: .1em solid #2E7D32;
    width: 50%;
    margin: 1.6em;
  }
  md-dialog {
    min-width: 60% !important;
    padding: 0.2em !important;
    top: -5.5em !important;
  }
  .headline {
    margin-top: 22em !important;
    background-color: rgba(0, 0, 0, 0.74) !important;
    padding: 1em !important;
  }
  .latest {
    background-color: rgba(255, 255, 255, 0.92);
  }
}

@media (max-width: 960px) {
  .md-avatar {
    border-radius: 90%;
    border: 1px solid #2E7D32;
    width: 50%;
    margin-top: 2em;
  }
  md-dialog {
    min-width: 70% !important;
    padding: 0.2em !important;
    top: -5.5em !important;
  }
  .headline {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
    background-color: rgba(0, 0, 0, 0.74) !important;
    padding: 1em !important;
  }
  .latest {
    background-color: rgba(255, 255, 255, 0.99);
  }
}

.mainBar {
  position: fixed;
  background-color:  black;
  height: 3em;
  top: 0;
  width: 100%;
}

.first {
  margin-top: 4em !important;
  margin-bottom: 3em !important;
}

.customsub {
  background: rgb(57, 106, 100) !important;
  margin: 0px !important;
  color: white !important;
  font-weight: bolder !important;
  font-size: 1.2em;
  min-height: 2.5em;
}

md-dialog .md-actions .md-button:last-child {
  color: black !important;
  /*background-color: red !important;*/
  /*font-weight: bold;*/
}

md-tabs {
  width: 100% !important;
}

