* {
  font-family: 'Roboto', sans-serif;
}

.landing_image {
  background: url('../img/job-shake2.png');
  background-size: fit;
  color: #fff;
}

.descript {
  color: rgba(255, 255, 255, 0.62);
  background-color: rgba(23, 22, 22, 0.43);
  padding: 10px;
}

.latest {
  background-color: rgba(38, 218, 100, 0.2);
}

.mlabel {
  color: rgba(158, 158, 158, 1);
}

.footer {
  background-color:  black;
  height: 60px;
  margin-bottom: 0px;
  color: white;
  line-height: 60px;
}

.footer a {
  color: rgba(255, 255, 255, 0.62);
  text-decoration: none;
}

.linkedin {
  background-color: #017BB6 !important;
  color: white !important;
  font-weight: bolder;
  line-height: 20px;
}

.facebook {
  background-color: #3B579D !important;
  color: white !important;
  font-weight: bolder;
  line-height: 20px;
}

.google {
  background-color: #3777E3 !important;
  color: white !important;
  font-weight: bolder;
  line-height: 20px;
}

.subheader {
  background-color: black;
  color: white;
  margin: 0px;
}

.comments {
  padding: 10px;
  background: black;
  color: white;
  font-size: 1.2em;
  font-weight: bolder;
  padding-left: 20px;
}

.submitcomments {
  background-color: black !important;
  color: white !important;
  font-weight: bolder !important;
}
